# Python Loops

## for loops in other languages

"for loops are traditionally used when you have a block of code which you want to repeat a fixed number of times" - python documentation


**This is a common type of syntax for a lot of other languages when it comes to for loops... but it doesn't work in python:**

In [0]:
#these won't run
# starting value for i, ending value, increment
for i=1, i<5, i+1:
  print(i)


mylist = ['a', 'b', 'c', 'd']
# starting value for i, ending value, increment
for i=0, i<len(mylist), i+1:
  print(mylist[i])

##Python

"The Python for statement iterates over the members of a sequence in order, executing the block each time." - python documentation

### iterating a set number of times with range

In [0]:
for i in range(1,5):
  print(i)

1
2
3
4

### iterating over a list

In [0]:
mylist = ['a', 'b', 'c', 'd']
for i in mylist:
  print(i)

a
b
c
d

### iterating backwards over a list

In [0]:
for letter in reversed(mylist):
  print(letter)

d
c
b
a

### indexes in a for loop

In [0]:
alpha = ["a", "b", "c", "d"]
for idx, i in enumerate(alpha):
  print(idx, i, alpha[idx])

0 a a
1 b b
2 c c
3 d d

### nested loops

In [0]:
for x in range(1, 6):
    for y in range(1, 6):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

### iterating over a string

In [0]:
cheer = "CNM Divers"
for letter in cheer:
  if letter != " ":
    print("Give me a '", letter, "'")

Give me a ' C '
Give me a ' N '
Give me a ' M '
Give me a ' D '
Give me a ' i '
Give me a ' v '
Give me a ' e '
Give me a ' r '
Give me a ' s '

### rocket launch

In [0]:
# Rocket Launch!!
# Count down from 10
for i in range(10,0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

### igpay atinlay

In [0]:
# translate a sentence to pig latin
# pig latin = igpay atinlay
# keep numbers as is